@import "mixins";

body {
    -webkit-font-smoothing: antialiased;
    color: #666;
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: center;
}

.container {
    width: 1055px;
    margin: 0 auto;
}

.ms {
    font-family: 'Montserrat', sans-serif;
}

.rw {
    font-family: 'Raleway', sans-serif;
}

.bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
}

.ib {
    @include inline-block(top);
}

.ib-middle {
    @include inline-block(middle);
}

.it {
    font-style: italic;
}

.btn {
    display: block;
    font-weight: bold;
    font-family: 'Montserrat';
    cursor: pointer;

    span {
        padding: 11px 58px;
        border-radius: 3px;
        letter-spacing: 0.1px;
    }
}

.btn-blue {
    background: #006de0;
    color: #fff;
    border: none;
    border-radius: 3px;
    @include transition(background 100ms linear);

    &:hover {
        background: #338ae6;
    }
}

.btn-light {
    font-weight: normal;
    padding: 11px 21px;
    letter-spacing: -1.3px;
}

.col, div[class^="col-"], div[class*=" col-"] {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;

    &:last-child {
        margin-right: 0;
    }
}

.col-7 {
    width: 605px;
}

.col-6 {
    width: 515px;
}

.col-5-5 {
    width: 450px;
}

.col-5 {
    width: 425px;
}

.col-4 {
    width: 335px;
}

.col-3 {
    width: 245px;
}

.sub-header {
    color: #333;
    font-size: 60px;
    line-height: 0.73333333;

    .sub-title {
        position: relative;
        color: #666;
        font-size: 18px;
        line-height: 25px;
        font-style: italic;
        margin-top: 15px;

        p {
            position: relative;
            z-index: 2;
            display: inline-block;
            margin: 0 auto;
            background-color: #fff;
            padding: 0 14px;

            @include breakpoint-mobile {
                padding: 0 6px;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 13px;
            left: 0;
            background-color: #ddd;
            width: 100%;
            height: 1px;
        }
    }
}

.button {
    @include box-sizing(border-box);
    display: block;
    width: 170px;
    height: 40px;
    border: solid 1px #333;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 40px;

    @include transition(background-color 100ms linear);

    &.white {
        color: #006de0;
        border-color: #006de0;

        &:hover {
            background-color: #006de0;
            color: #fff;
        }
    }

    &:hover {
        background-color: #333;
        color: #fff;
    }
}

@media (max-width: 1054px) {
    html, body {
        width: 1055px;
    }
}

@include breakpoint-mobile {
    $width_base: 640;
    $gutter: 30;

    $prop_gutter: (100% * $gutter)/$width_base;

    %full-width {
        width: 100% !important;
    }

    html,
    body,
    div[class^="col-"] {
        @extend %full-width;
    }

    .container,
    .sm-container {
        width: auto !important;
        @include box-sizing(border-box);
        margin-left: $prop_gutter;
        margin-right: $prop_gutter;
    }

    .sub-header {
        font-size: 30px;

        .sub-title {
            margin-top: 10px;
            font-size: 12px;
        }
    }
}
